body{
    margin: 0px;
    align-self: center;
    background-color:#ecdfcc;
    font-family: Verdana, Geneva, Tahoma, sans-serif; 
}

a {
    text-decoration: none;
}

header{
    background-color: #F4CE14;
    margin: 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 40px;
    height: 75px;
    
}

.img-header{
    height: 75px;
    padding: 0px;
    border: 0px;
    margin: 0px;
    flex-grow: 7;
}

.container{
    text-align: center;
    width: 100%;
    display: inline-block;
    position: relative;   
}

.container h1{
    position: absolute;
    top: 6%;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
}

.img-loja{
    margin-top: 25px;
    opacity: 0.5;
    width: 95%;
    height: auto;
    box-shadow: 0 0 4px 4px #888888a6;
    border-radius: 0.5%;

}

.card-direita{
    position: absolute;
    top: 20%;
    left: 15%;
    background-color: #ecdfcc98;
    width: 30%;
    height: 60%;
}

.card-esquerda{
    position: absolute;
    top: 20%;
    right: 15%;
    background-color: #ecdfcc98;
    width: 30%;
    height: 60%;
}

.card-esquerda h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

.card-esquerda ul {
    list-style-type: none;
    padding: 0;
}

.card-esquerda li {
    display: flex;
    align-items: center;
    padding: 5px;
}


section{
    display: flex;
    width: 100;
    gap: 10px;
    align-items: center;
    margin: 20px;
}

.item{
    flex-grow: 1;
    background-color:#e3e3e3;
    padding: 20px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px;
    display: block;
    text-align: center;
}

.item:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.item img{
    border-radius: 5px 5px 0 0;
    max-width: 500px;
    max-height: 500px;
    display: block;
    margin-left: auto;
    margin-right: auto;

}

p{
    margin: 0px;
}